/*
Appplication specific stylesheet
Custom Styles go in this file, bootstrap variables in bootstrap/variables.less
*/
@import '../vendor/components/bootstrap/less/bootstrap.less';
@import '../vendor/components/font-awesome/less/font-awesome.less';
@icon-font-path:  "../assets/fonts/";
@fa-font-path:        "../assets/fonts";
@color_nav_p: #f8f8f8;
@color_nav_s: #e7e7e7;
@color_footer_p: @color_nav_p;
@color_footer_s: @color_nav_s;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin top by navbar height */
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: white;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: @color_footer_p;
  border-top: 1px solid @color_nav_s;
}


.navbar-default {
  background-color: @color_nav_p;
  border-color: @color_nav_s;
}

/* ----------- Cookie frame ------------------- */

.cookie_frame {
  padding: 10px 10px;
  color: white;
  background-color: gray;
  margin: 0px;
  border-radius: 5px;
  overflow: hidden;
}

.cookie_frame .text {
}

.cookie_frame .buttons {
  float: right;
}

/* --------- HELPERS --------------------- */

.nopadding {
  padding: 0;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}
