composer.phar
composer.lock
DEADJOE
*~
vendor/**
components/**
logs/**
cache/**
node_modules/**
httpd/**
app/config.php
.remote-sync*
html/assets/fonts
locale/pt_PT/LC_MESSAGES/messages.mo
locale/en_GB/LC_MESSAGES/messages.mo
