{% extends "base.html.twig" %}
{% block title %}{% trans "Administration" %}{% endblock %}
{% block container %}
    <h1>{% trans "Administration Utilities" %}</h1>
    <br>
    <ul>
      <li><a href="{{ config.base_path }}/admin/stats">{% trans "Statistics" %}</a></li>
      <li><a href="{{ config.base_path }}/admin/configfile">{% trans "Configuration file" %}</a></li>
      <li><a href="{{ config.base_path }}/admin/sysinfo">{% trans "System information" %}</a></li>
      <li><a href="{{ config.base_path }}/admin/sendmail">{% trans "Send message" %}</a></li>
    </ul>
{% endblock %}
