{% extends "base.html.twig" %}
{% block title %}{{ config.app_name }}{% endblock %}
{% block container %}
<div class="row">
 <div class="col-sm-12">
   <H1>{{ config.app_name }}</H1>
   <p>{{ description|raw }}</p>
 </div> 
</div>

{% endblock %}
